title: Thien Nguyen's Blog
subtitle: ''
description: 'Sharing Knowledge, Experiences, and Insights on Software Development, Technology, and Life.'
keywords: null
author: Thien Nguyen
language: en
timezone: ''
url: https://thiennguyen.dev
permalink: ':year/:month/:day/:title/'
permalink_defaults: null
pretty_urls:
  trailing_index: true
  trailing_html: true
source_dir: source
public_dir: public
tag_dir: tags
archive_dir: archives
category_dir: categories
code_dir: downloads/code
i18n_dir: :lang
skip_render: "assets/**/*"
new_post_name: ':title.md'
default_layout: post
titlecase: false
external_link:
  enable: true
  field: site
  exclude: ''
filename_case: 1
render_drafts: false
post_asset_folder: true
relative_link: false
future: true
highlight:
  enable: true
  line_number: true
  auto_detect: false
  tab_replace: ''
  wrap: true
  hljs: false
prismjs:
  enable: false
  preprocess: true
  line_number: true
  tab_replace: ''
index_generator:
  path: ''
  per_page: 3
  order_by: '-date'
default_category: uncategorized
category_map: null
tag_map: null
meta_generator: true
date_format: YYYY-MM-DD
time_format: HH:mm:ss
updated_option: mtime
per_page: 9
pagination_dir: page
include: null
exclude: null
ignore: null
theme: icarus
deploy:
    type: git
    repo: git@github.com:thiennguyen93/thiennguyen93.github.io.git
    token: ${{ secrets.GH_TOKEN }}
    branch: gh-pages
    message: "Site updated/Cập nhật lúc: {{ now('YYYY-MM-DD HH:mm:ss') }}"
feed:
  enable: true
  type: atom
  path: atom.xml
  limit: 20
  hub:
  content:
  content_limit: 140
  content_limit_delim: ' '
  order_by: -date
  icon: icon.png
  autodiscovery: true
  template:
# Stylus config: https://github.com/hexojs/hexo-renderer-stylus
stylus:
  compress: true
  sourcemaps:
    comment: true
    inline: true
    sourceRoot: ''
    basePath: .
  plugins: 'nib'
# Search integration
algolia:
    applicationID: 52IRD5YY20
    indexName: prod_thiennguyen.dev
    apiKey: 7106d401c1ecda7f6880d8d14bd3f5bb
    routing: false
    showPoweredbyLabel: false
    config:
      hitsPerPage: 20
      # totalPages: 1000
      padding: 1
# Need to inject manually by scripts/page.js
aplayer:
  asset_inject: false
thiennguyen:
  useStyles: 
    - '/assets/css/custom.css'
    - '/assets/css/progressbar.css'
  featuredCategory:
    "Photos": 
      css:
        - "/assets/css/photo-album-category.css"
      js:
        - "https://cdn.jsdelivr.net/npm/nanogallery2@3/dist/jquery.nanogallery2.min.js"
      disableWidgets: false
  featuredPostType:
    "photo_album":
      css: 
        - "https://cdn.jsdelivr.net/npm/nanogallery2@3/dist/css/nanogallery2.min.css"
      js:
        - "https://cdn.jsdelivr.net/npm/nanogallery2@3/dist/jquery.nanogallery2.min.js"
# Github emoji support
githubEmojis:
  enable: true
  className: github-emoji
  inject: true
  styles:
  customEmojis:
lottiesPlayer:
  enable: true
  inject: true #Manually inject by script/page.js
  className: thiennguyen-lotties-player