
.frame {
    margin: 20px;
    border: 0.25em solid #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.tilt-right {
    -ms-transform: rotate(2deg);
    -webkit-transform: rotate(2deg);
    transform: rotate(2deg);
}

.tilt-right:hover {
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    filter: brightness(1);
    -webkit-filter: brightness(1);
}

.tilt-right,
.frame {
    transition: 0.4s ease-in-out;
}
.tesst {
    border: red;
}