/* MUSIC PLAYER: Custom album rounded like a CD */
.aplayer:not(.aplayer-fixed) .aplayer-pic {
    border-radius:  50%;
    margin: 5px;
}

.aplayer:not(.aplayer-fixed) .aplayer.aplayer-withlrc .aplayer-pic {
    height: 80px;
    width: 80px;
}
