/* MUSIC PLAYER: Custom album rounded like a CD
.aplayer:not(.aplayer-fixed) .aplayer-pic {
    border-radius:  50%;
    margin: 5px;
}

.aplayer:not(.aplayer-fixed) .aplayer.aplayer-withlrc .aplayer-pic {
    height: 80px;
    width: 80px;
} */

.img-reset-brightness {
  filter: brightness(1) !important;
  -webkit-filter: brightness(1) !important;
}

body:not(.light) .only-in-light-mode {
  display: none;
}
body:not(.night) .only-in-night-mode {
  display: none;
}

/* in-view effect for cover-photo, only in dark-mode */
body:not(.light) .in-view-effect.cover-photo:not(.in-view) {
  filter: brightness(0.55) grayscale(0.5);
  -webkit-filter: brightness(0.55) grayscale(0.5);
}

body:not(.light) .in-view.cover-photo {
  filter: brightness(0.8) grayscale(0);
  -webkit-filter: brightness(0.8) grayscale(0);
}

/* MISSING BULMA */
.is-flex-wrap-wrap {
	flex-wrap: wrap;
}

/* FIXED MISSING TRANSITION ON IMAGE HOVER IN LIGHT MODE */
body:not(.night) img, body:not(.night) video, body:not(.night) iframe, body:not(.night) .waifu, body:not(.night) .donate {
  transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out
}

/* 
.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #FFF;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  }

  @keyframes rotation {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
  }  */

  img.lazy {
    opacity: 0;
  }
  img:not(.initial) {
    transition: opacity 1s;
  }
  img.initial,
  img.loaded,
  img.error {
    opacity: 1;
  }
  img:not([src]) {
    visibility: hidden;
  }