
.frame {
    margin: 20px;
    border: 0.25em solid #c0c0c08b;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

body:not(.light) .frame {
    box-shadow: 0 2px 10px rgba(255,255,255, 0.3);
}

.tilt-right {
    -ms-transform: rotate(2deg);
    -webkit-transform: rotate(2deg);
    transform: rotate(2deg);
}

.in-view.tilt-right,
.tilt-right:hover {
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    filter: brightness(1);
    -webkit-filter: brightness(1);
}

.tilt-right,
.frame {
    transition: all 0.4s ease-in-out !important;
}