.globe-container,
.globe {
	width: 200px;
	height: 200px;  
}
.globe-container {
	position: relative;  
	display: inline-block;
	margin: 30px;
	transform: scale(1.1);
}
.globe {
	position: relative;  
	display: block;
	margin: 0;
	padding: 0;
	top: 0; 
	left: 0;
}
.globe-worldmap,
.globe-worldmap-front,
.globe-worldmap-back,
.globe-sphere,
.globe-outer-shadow,
.globe-inner-shadow {
	position: absolute; 
	display: block; 
	margin: 0; 
}
.globe-sphere,
.globe-outer-shadow,
.globe-inner-shadow {
	left: 0; 
	top: 0; 
	width: 200px; 
	height: 200px;
	background-position: 0 0; 
	background-repeat: no-repeat;
}
.globe-worldmap {
	left: 0; 
	top: 0; 
	width: 200px; 
	height: 200px; 
	overflow: hidden;
	border-radius: 50%;
}
.globe-worldmap-front,
.globe-worldmap-back {
	left: 0; 
	top: 0; 
	width: 1000px; 
	height: 200px; 
	overflow: visible;
	background-image: url(/assets/pages/games/world-flags-quiz/img/worldmap-svg.webp);
	background-repeat: no-repeat;
}
.globe-outer-shadow { 
	left: 0; 
	top: 186px; 
	width: 200px; 
	height: 30px;
	background-image: url(https://atuin.ru/demo/svg/outer_shadow.svg);
}
.globe-inner-shadow { 
	background-image: url(https://atuin.ru/demo/svg/inner_shadow.svg);
}

.globe-worldmap-front { 
	background-position: 0px 0px;
	animation: textureSpinreverse 8s linear infinite;
}
.globe-worldmap-back { 
	background-position: 0px -220px;
    animation: textureSpin 8s linear infinite;
}

@keyframes textureSpin {
	from {
		transform: translateX(0);
	}
	to {
        transform: translateX(-47.5%);
	}
}
@keyframes textureSpinreverse {
	from {
        transform: translateX(-47.5%);
	}
	to {
		transform: translateX(0);
	}
}

#game-screen {
    min-height: 50vh;
}

#game-screen.game_step_home #home-button {
	display: none;
	transition: display 0s, opacity 5s linear;
}

.display-none {
	display: none !important;
	transition: display 0s, opacity 5s linear;
}

.center-image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; /* Điều chỉnh chiều cao nếu cần thiết */
}

.margin-0-auto {
	margin: 0 auto;
}

.animation-duration-500ms {
	animation-duration: 0.5s;
}

.game-mode-flag-option {
	cursor: pointer;
}

.game-mode-flag-option:hover {
	-webkit-box-shadow:inset 0px 0px 0px 1px #E32D67;
	-moz-box-shadow:inset 0px 0px 0px 1px #E32D67;
	box-shadow:inset 0px 0px 0px 1px #E32D67;
}

.is-flex-wrap-wrap {
	flex-wrap: wrap;
}

.flag-mode-option-items  {
	width: 128px;
	-webkit-filter: drop-shadow(5px 5px 5px #222);
  	filter: drop-shadow(5px 5px 5px #222);
}

.flag-mode-option-item-wrapper {
	width: 180px;
	height: 128px;
}

.flag-mode-option-item-wrapper>.image>img {
	box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}




/* CONFETTI BUTTON */
